.diagnose-page {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    width: 100%;

    @include tablet {
      margin-top: 1rem;
    }

    .patient-btn {
      margin: 1rem 2rem;
      height: 3rem;
      font-size: 1rem;
      color: #cbcbcb;
      text-transform: none;
      font-weight: 500;

      @include tablet {
        margin-left: 3rem;
      }

      svg {
        margin-right: 1rem;
        width: 1rem;
      }
    }
  }

  section {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1 {
    margin-top: 4rem;
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 1rem;
      margin-right: 1rem;
    }
  }

  p {
    color: #9b9b9b;
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }

  .img-container {
    overflow: hidden;
  }

  img {
    width: 150vw;
    height: 45vw;
    right: 5rem;

    display: block;
    position: relative;
    z-index: -1;
  }

  h2 {
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0 auto;
    margin-top: 4rem;
    width: 75%;
  }

  .record {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.49) 100%), #183fb9;
    width: 4rem;
    height: 4rem;
    border-radius: 100rem;
    margin: 0 auto;
    margin-top: 3rem;
  }

  @include laptop {
    section {
      width: 40%;
      margin: 0;
      justify-content: start;
      align-items: start;

      h1 {
        display: none;
      }

      p {
        color: white;
        font-weight: 600;
        text-align: center;
        margin: 0 auto;
        margin-top: 6rem;
        margin-bottom: 7rem;
      }
    }

    // .img-container {
    //   width: 50rem;
    //   height: 15rem;
    //   left: 7rem;
    //   float: right;
    // }

    img {
      width: 80vw;
      max-width: 70rem;
      height: 20rem;
      right: -7rem;
      top: 13rem;
      float: right;

      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      position: fixed;
    }

    .record-container {
      width: 40%;
      align-items: start;
      justify-content: start;
      flex-direction: column-reverse;
      margin: 0;
      // margin-left: ;

      h2 {
        margin: 0 auto;
        width: 55%;
      }

      .record {
        margin: 0 auto;
        margin-bottom: 7rem;
        width: 6rem;
        height: 6rem;
        svg {
          width: 3rem;
          height: 3rem;
        }
      }
    }
  }

  main {
    animation: fadeout ease 0.5s;
    animation-direction: reverse;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.recording-container {
  min-height: 75vh;
  display: flex;
  flex-direction: column;

  animation: fadeout ease 0.5s;
  animation-direction: reverse;

  .recording-btn {
    margin-top: auto;
    // padding: 6px 12px;
  }

  svg {
    width: 7rem;
    height: 7rem;
  }
}

.is-recording {
  animation: fadeout ease 0.5s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
