@import "variables";
@import "https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap";

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  color: white;
}

/* Set core body defaults */
body {
  background: $bg;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  //   line-height: 1.5;
  font-family: "Rubik" !important;
  color: white !important;
}

/* Set the core h1 defaults */
h1,
.h1 {
  font-size: 2.5rem;
  font-weight: $bold;
  // color: white;
}

/* Set the core paragraph defaults */
p,
.p {
  line-height: 2rem;
  font-size: 1.25rem;
  line-height: 2;
  color: $light-text;
}

/* Set the core list defaults */
li,
.li {
  font-size: 1.5rem;
  font-weight: $semi-bold;
  color: $nav-text;
}
